<container>
    <row class="header">
      <columns small="4" large="4" valign="middle">
        <a href="#">
          <img src="https://github.com/ViswaasLP/Transactional-Email/blob/main/Restaurant-Transaction/src/assets/img/Logo.png?raw=true" class="bjs_logo" />
        </a>
      </columns>
  
      <columns small="5" large="4" valign="middle">
        <a href="#">
          <img src="https://github.com/ViswaasLP/Transactional-Email/blob/main/Restaurant-Transaction/src/assets/img/menu.png?raw=true" class="menu float-center" />
        </a>
      </columns>
  
      <columns small="3" large="3" valign="middle">
        <a href="#">
          <img src="https://github.com/ViswaasLP/Transactional-Email/blob/main/Restaurant-Transaction/src/assets/img/order.png?raw=true" class="order float-right" />
        </a>
      </columns>
    </row>
  </container>
  